In [1]:
# Import required libraries
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import numpy as np

In [2]:
# Create raw data to simulate the Excel table
data = {
    "Unnamed: 0": [np.nan, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013],
    "Seattle": ["Bikes", 33323, 55342, 33234, 33252, 22332, 23331, 33532, 11001, 10221],
    "Unnamed: 2": ["Accessories", 13394, 19983, 18884, 19893, 18840, 18890, 18790, 11000, 9900],
    "Unnamed: 3": ["Miscellaneous", 4455, 5563, 3348, 2239, 2232, 4343, 3434, 8840, 8892],
    "Portland": ["Bikes", 33323, 55342, 33234, 33252, 22332, 23331, 33532, 11001, 10221],
    "Unnamed: 5": ["Accessories", 13394, 19983, 18884, 19893, 18840, 18890, 18790, 11000, 9900],
    "Unnamed: 6": ["Miscellaneous", 4455, 5563, 3348, 2239, 2232, 4343, 3434, 8840, 8892],
    "Vancouver": ["Bikes", 33323, 55342, 33234, 33252, 22332, 23331, 33532, 11001, 10221],
    "Unnamed: 8": ["Accessories", 13394, 19983, 18884, 19893, 18840, 18890, 18790, 11000, 9900],
    "Unnamed: 9": ["Miscellaneous", 4455, 5563, 3348, 2239, 2232, 4343, 3434, 8840, 8892],
}

# Convert the raw data into a DataFrame
df = pd.DataFrame(data)
df

,Unnamed: 0,Seattle,Unnamed: 2,Unnamed: 3,Portland,Unnamed: 5,Unnamed: 6,Vancouver,Unnamed: 8,Unnamed: 9
0,NaN,Bikes,Accessories,Miscellaneous,Bikes,Accessories,Miscellaneous,Bikes,Accessories,Miscellaneous
1,2005.0,33323,13394,4455,33323,13394,4455,33323,13394,4455
2,2006.0,55342,19983,5563,55342,19983,5563,55342,19983,5563
3,2007.0,33234,18884,3348,33234,18884,3348,33234,18884,3348
4,2008.0,33252,19893,2239,33252,19893,2239,33252,19893,2239
5,2009.0,22332,18840,2232,22332,18840,2232,22332,18840,2232
6,2010.0,23331,18890,4343,23331,18890,4343,23331,18890,4343
7,2011.0,33532,18790,3434,33532,18790,3434,33532,18790,3434
8,2012.0,11001,11000,8840,11001,11000,8840,11001,11000,8840
9,2013.0,10221,9900,8892,10221,9900,8892,10221,9900,8892

In [3]:
# Display basic information about the DataFrame
print("Basic DataFrame Info:")
df.info()

Basic DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9 non-null      float64
 1   Seattle     10 non-null     object
 2   Unnamed: 2  10 non-null     object
 3   Unnamed: 3  10 non-null     object
 4   Portland    10 non-null     object
 5   Unnamed: 5  10 non-null     object
 6   Unnamed: 6  10 non-null     object
 7   Vancouver   10 non-null     object
 8   Unnamed: 8  10 non-null     object
 9   Unnamed: 9  10 non-null     object
dtypes: float64(1), object(9)
memory usage: 932.0+ bytes

In [4]:
# Make a copy of the original DataFrame and fill any NaN values with 'None'
new_df = df.replace(np.nan,'None').copy()
new_df

,Unnamed: 0,Seattle,Unnamed: 2,Unnamed: 3,Portland,Unnamed: 5,Unnamed: 6,Vancouver,Unnamed: 8,Unnamed: 9
0,None,Bikes,Accessories,Miscellaneous,Bikes,Accessories,Miscellaneous,Bikes,Accessories,Miscellaneous
1,2005.0,33323,13394,4455,33323,13394,4455,33323,13394,4455
2,2006.0,55342,19983,5563,55342,19983,5563,55342,19983,5563
3,2007.0,33234,18884,3348,33234,18884,3348,33234,18884,3348
4,2008.0,33252,19893,2239,33252,19893,2239,33252,19893,2239
5,2009.0,22332,18840,2232,22332,18840,2232,22332,18840,2232
6,2010.0,23331,18890,4343,23331,18890,4343,23331,18890,4343
7,2011.0,33532,18790,3434,33532,18790,3434,33532,18790,3434
8,2012.0,11001,11000,8840,11001,11000,8840,11001,11000,8840
9,2013.0,10221,9900,8892,10221,9900,8892,10221,9900,8892

In [5]:
# Transpose the DataFrame to switch rows and columns
# Reset the index to create a clean, tabular structure
new_df = new_df.transpose().reset_index()
new_df

,index,0,1,2,3,4,5,6,7,8,9
0,Unnamed: 0,None,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0
1,Seattle,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
2,Unnamed: 2,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
3,Unnamed: 3,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
4,Portland,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
5,Unnamed: 5,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
6,Unnamed: 6,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
7,Vancouver,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
8,Unnamed: 8,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
9,Unnamed: 9,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892

In [6]:
# Set the column names of the DataFrame to the values in the first row
new_df.columns = new_df.iloc[0]
new_df

,Unnamed: 0,None,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0
0,Unnamed: 0,None,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0
1,Seattle,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
2,Unnamed: 2,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
3,Unnamed: 3,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
4,Portland,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
5,Unnamed: 5,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
6,Unnamed: 6,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
7,Vancouver,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
8,Unnamed: 8,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
9,Unnamed: 9,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892

In [7]:
# Remove the first row (which is now used as the header) and reset the index, dropping the old index
new_df = new_df[1:].reset_index(drop=True)
new_df

,Unnamed: 0,None,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0
0,Seattle,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
1,Unnamed: 2,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
2,Unnamed: 3,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
3,Portland,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
4,Unnamed: 5,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
5,Unnamed: 6,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
6,Vancouver,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
7,Unnamed: 8,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
8,Unnamed: 9,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892

In [8]:
# Rename specific columns for clarity
new_df = new_df.rename(columns={'Unnamed: 0':'City', 'None':'Category'})
new_df

,City,Category,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0
0,Seattle,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
1,Unnamed: 2,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
2,Unnamed: 3,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
3,Portland,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
4,Unnamed: 5,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
5,Unnamed: 6,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
6,Vancouver,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
7,Unnamed: 8,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
8,Unnamed: 9,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892

In [9]:
# Identify rows where the 'City' column contains the value 'Unnamed' (indicating missing city names)
# Set these rows' 'City' value to None to explicitly mark them as missing
new_df.loc[new_df[new_df['City'].str.contains('Unnamed')].index, 'City'] = None
new_df

,City,Category,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0
0,Seattle,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
1,None,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
2,None,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
3,Portland,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
4,None,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
5,None,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
6,Vancouver,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
7,None,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
8,None,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892

In [10]:
# Forward fill (ffill) the 'City' column, which replaces missing values with the last valid value
new_df['City'] = new_df['City'].ffill()
new_df

,City,Category,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0
0,Seattle,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
1,Seattle,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
2,Seattle,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
3,Portland,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
4,Portland,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
5,Portland,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892
6,Vancouver,Bikes,33323,55342,33234,33252,22332,23331,33532,11001,10221
7,Vancouver,Accessories,13394,19983,18884,19893,18840,18890,18790,11000,9900
8,Vancouver,Miscellaneous,4455,5563,3348,2239,2232,4343,3434,8840,8892

In [11]:
# Reshape the DataFrame from wide format to long format using the melt function
# 'id_vars' specifies which columns to keep as identifier variables (these will remain unchanged)
# 'var_name' assigns the name 'Year' to the column that will contain the previous column names
# 'value_name' assigns the name 'Value' to the column that will contain the corresponding values
new_melted_df = new_df.melt(id_vars=['City', 'Category'], var_name='Year', value_name='Value')
new_melted_df

         City       Category    Year  Value
0     Seattle          Bikes  2005.0  33323
1     Seattle    Accessories  2005.0  13394
2     Seattle  Miscellaneous  2005.0   4455
3    Portland          Bikes  2005.0  33323
4    Portland    Accessories  2005.0  13394
5    Portland  Miscellaneous  2005.0   4455
6   Vancouver          Bikes  2005.0  33323
7   Vancouver    Accessories  2005.0  13394
8   Vancouver  Miscellaneous  2005.0   4455
9     Seattle          Bikes  2006.0  55342
10    Seattle    Accessories  2006.0  19983
11    Seattle  Miscellaneous  2006.0   5563
12   Portland          Bikes  2006.0  55342
13   Portland    Accessories  2006.0  19983
14   Portland  Miscellaneous  2006.0   5563
15  Vancouver          Bikes  2006.0  55342
16  Vancouver    Accessories  2006.0  19983
17  Vancouver  Miscellaneous  2006.0   5563
18    Seattle          Bikes  2007.0  33234
19    Seattle    Accessories  2007.0  18884
20    Seattle  Miscellaneous  2007.0   3348
21   Portland          Bikes  2007.0  33234
22   Portland    Accessories  2007.0  18884
23   Portland  Miscellaneous  2007.0   3348
24  Vancouver          Bikes  2007.0  33234
25  Vancouver    Accessories  2007.0  18884
26  Vancouver  Miscellaneous  2007.0   3348
27    Seattle          Bikes  2008.0  33252
28    Seattle    Accessories  2008.0  19893
29    Seattle  Miscellaneous  2008.0   2239
30   Portland          Bikes  2008.0  33252
31   Portland    Accessories  2008.0  19893
32   Portland  Miscellaneous  2008.0   2239
33  Vancouver          Bikes  2008.0  33252
34  Vancouver    Accessories  2008.0  19893
35  Vancouver  Miscellaneous  2008.0   2239
36    Seattle          Bikes  2009.0  22332
37    Seattle    Accessories  2009.0  18840
38    Seattle  Miscellaneous  2009.0   2232
39   Portland          Bikes  2009.0  22332
40   Portland    Accessories  2009.0  18840
41   Portland  Miscellaneous  2009.0   2232
42  Vancouver          Bikes  2009.0  22332
43  Vancouver    Accessories  2009.0  18840
44  Vancouver  Miscellaneous  2009.0   2232
45    Seattle          Bikes  2010.0  23331
46    Seattle    Accessories  2010.0  18890
47    Seattle  Miscellaneous  2010.0   4343
48   Portland          Bikes  2010.0  23331
49   Portland    Accessories  2010.0  18890
50   Portland  Miscellaneous  2010.0   4343
51  Vancouver          Bikes  2010.0  23331
52  Vancouver    Accessories  2010.0  18890
53  Vancouver  Miscellaneous  2010.0   4343
54    Seattle          Bikes  2011.0  33532
55    Seattle    Accessories  2011.0  18790
56    Seattle  Miscellaneous  2011.0   3434
57   Portland          Bikes  2011.0  33532
58   Portland    Accessories  2011.0  18790
59   Portland  Miscellaneous  2011.0   3434
60  Vancouver          Bikes  2011.0  33532
61  Vancouver    Accessories  2011.0  18790
62  Vancouver  Miscellaneous  2011.0   3434
63    Seattle          Bikes  2012.0  11001
64    Seattle    Accessories  2012.0  11000
65    Seattle  Miscellaneous  2012.0   8840
66   Portland          Bikes  2012.0  11001
67   Portland    Accessories  2012.0  11000
68   Portland  Miscellaneous  2012.0   8840
69  Vancouver          Bikes  2012.0  11001
70  Vancouver    Accessories  2012.0  11000
71  Vancouver  Miscellaneous  2012.0   8840
72    Seattle          Bikes  2013.0  10221
73    Seattle    Accessories  2013.0   9900
74    Seattle  Miscellaneous  2013.0   8892
75   Portland          Bikes  2013.0  10221
76   Portland    Accessories  2013.0   9900
77   Portland  Miscellaneous  2013.0   8892
78  Vancouver          Bikes  2013.0  10221
79  Vancouver    Accessories  2013.0   9900
80  Vancouver  Miscellaneous  2013.0   8892

In [12]:
# Define a function to reorder and sort the DataFrame
def reorder_magic(special_order_list_1, special_order_list_2, df, col1, col2, col3):
    
    # Convert the specified columns to 'category' type for ordered sorting
    df[col1] = df[col1].astype('category')
    df[col2] = df[col2].astype('category')

    # Reorder categories in the specified order for the given columns
    df[col1] = df[col1].cat.reorder_categories(special_order_list_1)
    df[col2] = df[col2].cat.reorder_categories(special_order_list_2)

    # Sort the DataFrame by the specified columns
    df = df.sort_values(by=[col1, col2, col3]).reset_index(drop=True)

    return df

In [13]:
# Apply the function to reorder and sort the DataFrame
new_melted_df = reorder_magic(
    ['Seattle', 'Portland', 'Vancouver'],  # Order for the 'City' column
    ['Bikes', 'Accessories', 'Miscellaneous'],  # Order for the 'Category' column
    new_melted_df,
    'City',  # First column to reorder
    'Category',  # Second column to reorder
    'Year'  # Column to sort by
)
new_melted_df

         City       Category    Year  Value
0     Seattle          Bikes  2005.0  33323
1     Seattle          Bikes  2006.0  55342
2     Seattle          Bikes  2007.0  33234
3     Seattle          Bikes  2008.0  33252
4     Seattle          Bikes  2009.0  22332
5     Seattle          Bikes  2010.0  23331
6     Seattle          Bikes  2011.0  33532
7     Seattle          Bikes  2012.0  11001
8     Seattle          Bikes  2013.0  10221
9     Seattle    Accessories  2005.0  13394
10    Seattle    Accessories  2006.0  19983
11    Seattle    Accessories  2007.0  18884
12    Seattle    Accessories  2008.0  19893
13    Seattle    Accessories  2009.0  18840
14    Seattle    Accessories  2010.0  18890
15    Seattle    Accessories  2011.0  18790
16    Seattle    Accessories  2012.0  11000
17    Seattle    Accessories  2013.0   9900
18    Seattle  Miscellaneous  2005.0   4455
19    Seattle  Miscellaneous  2006.0   5563
20    Seattle  Miscellaneous  2007.0   3348
21    Seattle  Miscellaneous  2008.0   2239
22    Seattle  Miscellaneous  2009.0   2232
23    Seattle  Miscellaneous  2010.0   4343
24    Seattle  Miscellaneous  2011.0   3434
25    Seattle  Miscellaneous  2012.0   8840
26    Seattle  Miscellaneous  2013.0   8892
27   Portland          Bikes  2005.0  33323
28   Portland          Bikes  2006.0  55342
29   Portland          Bikes  2007.0  33234
30   Portland          Bikes  2008.0  33252
31   Portland          Bikes  2009.0  22332
32   Portland          Bikes  2010.0  23331
33   Portland          Bikes  2011.0  33532
34   Portland          Bikes  2012.0  11001
35   Portland          Bikes  2013.0  10221
36   Portland    Accessories  2005.0  13394
37   Portland    Accessories  2006.0  19983
38   Portland    Accessories  2007.0  18884
39   Portland    Accessories  2008.0  19893
40   Portland    Accessories  2009.0  18840
41   Portland    Accessories  2010.0  18890
42   Portland    Accessories  2011.0  18790
43   Portland    Accessories  2012.0  11000
44   Portland    Accessories  2013.0   9900
45   Portland  Miscellaneous  2005.0   4455
46   Portland  Miscellaneous  2006.0   5563
47   Portland  Miscellaneous  2007.0   3348
48   Portland  Miscellaneous  2008.0   2239
49   Portland  Miscellaneous  2009.0   2232
50   Portland  Miscellaneous  2010.0   4343
51   Portland  Miscellaneous  2011.0   3434
52   Portland  Miscellaneous  2012.0   8840
53   Portland  Miscellaneous  2013.0   8892
54  Vancouver          Bikes  2005.0  33323
55  Vancouver          Bikes  2006.0  55342
56  Vancouver          Bikes  2007.0  33234
57  Vancouver          Bikes  2008.0  33252
58  Vancouver          Bikes  2009.0  22332
59  Vancouver          Bikes  2010.0  23331
60  Vancouver          Bikes  2011.0  33532
61  Vancouver          Bikes  2012.0  11001
62  Vancouver          Bikes  2013.0  10221
63  Vancouver    Accessories  2005.0  13394
64  Vancouver    Accessories  2006.0  19983
65  Vancouver    Accessories  2007.0  18884
66  Vancouver    Accessories  2008.0  19893
67  Vancouver    Accessories  2009.0  18840
68  Vancouver    Accessories  2010.0  18890
69  Vancouver    Accessories  2011.0  18790
70  Vancouver    Accessories  2012.0  11000
71  Vancouver    Accessories  2013.0   9900
72  Vancouver  Miscellaneous  2005.0   4455
73  Vancouver  Miscellaneous  2006.0   5563
74  Vancouver  Miscellaneous  2007.0   3348
75  Vancouver  Miscellaneous  2008.0   2239
76  Vancouver  Miscellaneous  2009.0   2232
77  Vancouver  Miscellaneous  2010.0   4343
78  Vancouver  Miscellaneous  2011.0   3434
79  Vancouver  Miscellaneous  2012.0   8840
80  Vancouver  Miscellaneous  2013.0   8892